body {
  background-image: url("../image/bg.jpg");
  background-size: cover;
  font-family: "Overlock", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
#container {
  position: absolute;
  width: 1000px;
  height: 630px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
}
.progress {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#mainArea {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#gameArea-container {
  border: solid 5px #663308;
  border-radius: 19px;
  margin-top: 22px;
}
#gameArea-container #gameArea {
  width: 530px;
  height: 530px;
  margin: auto;
  border: solid 11px #fff;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
#gameArea-container #gameArea > div {
  box-sizing: border-box;
  border: solid 1px #cec5d0;
  position: relative;
}
#gameArea-container #gameArea > div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#gameArea-container #gameArea > div .backImage {
  opacity: 1;
  background: #808080;
  z-index: 100;
}
#infoArea {
  width: 400px;
}
#infoArea > #gameName {
  font-family: Comic Sans MS;
  font-size: 37px;
  text-shadow: 5px 5px 5px #807ff7;
  color: #f69;
  cursor: default;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -ms-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
  position: relative;
  left: 49px;
  top: -19px;
}
#infoArea > #gameName:hover {
  color: #fff;
}
#infoArea > h3 > #score {
  font-family: Comic Sans MS;
  text-shadow: 5px 5px 5px #808080;
  color: #fff;
  padding-left: 70px;
  font-size: 27px;
}
#infoArea > #description {
  width: 340px;
  font-size: 19px;
  font-weight: 600;
  line-height: 36px;
  border: solid 3px #663308;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
}
#infoArea > :nth-child(6) {
  position: relative;
  top: 22px;
}
#infoArea > .glossy {
  text-decoration: none;
  position: relative;
  left: 30px;
  top: -50px;
}
.gameControl {
  display: none;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.gameControl .gameResult {
  width: 100%;
  position: absolute;
  width: 550px;
  height: 360px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.gameControl .gameResult >img {
  width: 550px;
  height: 360px;
  border-radius: 20px;
}
.gameControl .gameResult >p {
  position: absolute;
  left: 160px;
  top: 36px;
  font-family: Comic Sans MS;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.gameControl .gameResult >.playAgain {
  position: absolute;
  left: 200px;
  bottom: 36px;
  font-size: 20px;
  width: 136px;
  text-decoration: none;
  font-family: Trebuchet MS;
}
.success {
  z-index: 200;
}
.success >.gameResult >p {
  left: 100px;
}
.success >.gameResult >.playAgain {
  left: 380px;
  bottom: 20px;
}
