body {
  background-image: url("../image/bg.jpg");
  background-size: cover;
}
#container {
  position: absolute;
  width: 1000px;
  height: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: solid 2px #000;
}
.progress-bar {
  background-color: #fff;
  height: 20px;
  padding: 1px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}
#mainArea {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#gameArea {
  width: 500px;
  height: 500px;
  margin: auto;
  border: solid 2px #000;
  display: flex;
  flex-wrap: wrap;
}
#gameArea > div {
  box-sizing: border-box;
  border: solid 1px #000;
  position: relative;
}
#gameArea > div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#gameArea > div .backImage {
  opacity: 0.7;
  background: #808080;
  z-index: 100;
}
#infoArea {
  width: 400px;
}
