body
  background-image: url('../image/bg.jpg')
  background-size: cover
  font-family: "Overlock", "Hiragino Sans GB", "Microsoft YaHei", sans-serif

#container
  position: absolute
  width: 1000px
  height: 630px
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
  border: solid 4px #C2D6D6
  border-radius: 5px

.progress-bar
  background-color: #fff
  height: 20px
  padding: 1px
  width: 100%
  margin-bottom: 10px
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444

#mainArea
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
 
#gameArea-container
  border: solid 5px #663308
  border-radius: 19px
  margin-top: 22px
  #gameArea
    width: 530px
    height: 530px
    margin: auto
    border: solid 11px #FFF
    border-radius: 15px
    display: flex
    flex-wrap: wrap
    > div
      box-sizing: border-box
      border: solid 1px #CEC5D0
      position: relative
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      .backImage
        opacity: 0.7
        background: gray
        z-index: 100
      
#infoArea
  width: 400px
  > #gameName
    font-family: Comic Sans MS
    font-size: 37px
    text-shadow: 5px 5px 5px #807FF7
    color: #f69
    cursor: default
    -webkit-transition: color 1s linear
    -moz-transition: color 1s linear
    -ms-transition: color 1s linear
    -o-transition: color 1s linear
    transition: color 1s linear
    position: relative;
    left: 49px;
    top: -19px;
  > #gameName:hover
    color: white
  > h3 > #score
    font-family: Comic Sans MS
    color: #FFF
    padding-left: 70px
    font-size: 27px    
  > #description
    width: 340px
    font-size: 19px
    font-weight: 600
    line-height: 36px
    border: solid 3px #663308
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    padding: 5px
  > :nth-child(6)
    position: relative;
    top: 22px;
  > .glossy
    text-decoration: none
    position: relative;
    left: 30px;
    top: -50px;


