#gameArea {
  width: 600px;
  height: 600px;
  margin: auto;
  border: solid 2px #000;
  display: flex;
  flex-wrap: wrap;
}
#gameArea > div {
  box-sizing: border-box;
  border: solid 1px #808080;
}
